* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.fh {
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fc {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
